@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 13px;
  @apply text-gray-900;
}

@media screen and (min-width: 640px) {
  html {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 15px;
  }
}

.rich-text-hero a {
  @apply text-blue-600 underline;
}

.rich-text-banner {
  @apply whitespace-pre-line;
  a {
    @apply underline;
  }
}

.title {
  @apply text-4xl font-semibold leading-snug;
}

@media (min-width: 768px) {
  .title {
    @apply text-5xl;
  }
}

.form-range {
  @apply w-full h-2.5 bg-transparent;
  -webkit-appearance: none;
  outline: none;
  cursor: grab;
}

.form-range:disabled {
  cursor: default;
}

.form-range:disabled::-webkit-slider-thumb {
  cursor: default;
}

.form-range:disabled::-moz-range-thumb {
  cursor: default;
}

.form-range::-webkit-slider-thumb {
  @apply w-5 h-5 rounded-full border-none bg-primary-700;
  -webkit-appearance: none;
  appearance: none;
  cursor: grab;
}

.form-range::-moz-range-thumb {
  @apply w-5 h-5 rounded-full border-none bg-primary-700;
  cursor: grab;
}

.form-range:active:not(:disabled) {
  cursor: grabbing;
}

.form-range::-moz-range-thumb:active {
  cursor: grabbing;
}

.form-range::-webkit-slider-thumb:active {
  cursor: grabbing;
}

.external-link-icon {
  width: 1.25rem;
  height: 1.25rem;
  display: inline;
  margin-left: 0.25rem;
  margin-bottom: 0.25rem;
}
